header {
	background:transparent url("images/logo.png") no-repeat;
	padding: 10px 10px 120px 210px;
}
header a {
	display:inline-block;
	color:#8f0000;
	-webkit-transition:-webkit-transform 0.25s, color 0.25s
}

header a:hover {
	color:#f50000;
	-webkit-transform:rotate(10deg);
	text-decoration:none;
}

h2 {
	font-size:22px;
	color:#df7777;
}
